<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/59bd3ff3-9b8b-457c-bcdb-183e2a98e862/resourcegroups/TeachMeBackend2/providers/Microsoft.Web/sites/TeachMeTest</ResourceId>
    <ResourceGroup>TeachMeBackend2</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://teachmetest.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>teachmetest.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>TeachMeTest</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$TeachMeTest</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="MS_TableConnectionString" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:teachmesqlserver.database.windows.net,1433;Initial Catalog=TeachMeTestDb;Persist Security Info=False;User ID=greg;Password=7Dg5GelpZS;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Data Source=tcp:teachmesqlserver.database.windows.net,1433;Initial Catalog=TeachMeTestDb;Persist Security Info=False;User ID=greg;Password=7Dg5GelpZS;MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="TeachMeBackendService.Models.TeachMeBackendContext, TeachMeBackendService" MigrationConfiguration="TeachMeBackendService.Migrations.Configuration, TeachMeBackendService" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="MS_TableConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=tcp:teachmesqlserver.database.windows.net,1433;Initial Catalog=TeachMeTestDb;Persist Security Info=False;User ID=greg;Password=7Dg5GelpZS;MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
 
</Project>